/* for-phone-only */
@media only screen and (max-width: 449px) {
  div.floor {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  p.prime-count {
    font-size: small;
  }
}

/* for-tablet-portrait-up */
@media only screen and (min-width: 450px) {
  div.floor {
    grid-template-columns: repeat(12, 1fr) !important;
  }
}

/* include local 14-segment display font */
@font-face {
  font-family: DSEG14;
  src: url(DSEG14Classic-Regular.woff2);
}

body {
  counter-reset: nature-count prime-count nonprime-count;
  background: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Lucida Console", Monaco, monospace; */
  font-family: DSEG14;
}

/* prime tiled floor */
div.floor {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fill, 1fr);
  /* FIT OR FILL? https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
}

div.tile {
  /* Everything for prime numbers can go here because non-primes will override it */
  counter-increment: nature-count prime-count;
  background: red;
  color: red;
  transition: background 0.5s ease-in-out;
  text-align: center;
}

div.tile:hover {
  background: rgba(255, 0, 0, 0.3);
}

div.tile::before {
  content: counter(nature-count);
}
div.tile:last-child::before {
  content: counter(nature-count);
}

/* 
  AIM:  to capture all 307 primes within 2027 range. base my website off a 2027 Vision:

        I will wield the Seive of Erathanymoose (*Eratosthenes) to the square root of
        the Vision: Math.sqrt(2027) = 45.02221673796171, our sarcred Limited One.
        Many of our members ponder the intricacies of Limit's Powers, which are undoubt-
        alably great. Yet, does the Limit possess the Power of limitless Limits? Is the
        Limit itself, possibly Limited in its giving of Limits, lest it confuse its own
        nature with an act of limitlessness.

        I digress, we can seive for primes up to the Limited One, and, upon completion
        of the appropriate ceramony (there is always a limited supply of hats avaiable)
        they graciously allow us to seive for the Third and Final of our tri-sect, The
        One Whose Rule Cannot Be Directly Ascribed, The Limit++ !

        [it worked first try! next: layer this into a bg-interactive landscape]
*/
div.tile:first-child,
div.tile:nth-child(2n + 4),
div.tile:nth-child(3n + 6),
div.tile:nth-child(4n + 8),
div.tile:nth-child(5n + 10),
div.tile:nth-child(6n + 12),
div.tile:nth-child(7n + 14),
div.tile:nth-child(8n + 16),
div.tile:nth-child(9n + 18),
/* div.tile:nth-child(10n + 20), */
div.tile:nth-child(11n + 22),
div.tile:nth-child(12n + 24),
div.tile:nth-child(13n + 26),
div.tile:nth-child(14n + 28),
/* div.tile:nth-child(15n + 30), */
div.tile:nth-child(16n + 32),
div.tile:nth-child(17n + 34),
div.tile:nth-child(18n + 36),
div.tile:nth-child(19n + 38),
/* div.tile:nth-child(20n + 40), */
div.tile:nth-child(21n + 42),
div.tile:nth-child(22n + 44),
div.tile:nth-child(23n + 46),
div.tile:nth-child(24n + 48),
/* div.tile:nth-child(25n + 50), */
div.tile:nth-child(26n + 52),
div.tile:nth-child(27n + 54),
div.tile:nth-child(28n + 56),
div.tile:nth-child(29n + 58),
/* div.tile:nth-child(30n + 60), */
div.tile:nth-child(31n + 62),
div.tile:nth-child(32n + 64),
div.tile:nth-child(33n + 66),
div.tile:nth-child(34n + 68),
/* div.tile:nth-child(35n + 70), */
div.tile:nth-child(36n + 72),
div.tile:nth-child(37n + 74),
div.tile:nth-child(38n + 76),
div.tile:nth-child(39n + 78),
/* div.tile:nth-child(40n + 80), */
div.tile:nth-child(41n + 82),
div.tile:nth-child(42n + 84),
div.tile:nth-child(43n + 86),
div.tile:nth-child(44n + 88),
/* div.tile:nth-child(45n + 90), */
div.tile:nth-child(46n + 92)
{
  counter-increment: nature-count nonprime-count;
  background: white;
  color: white;
}

p.prime-count::before {
  content: "Count:" counter(nature-count) "; Non-Primes:"
    counter(nonprime-count) "; Primes:" counter(prime-count);
}